
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
<h2 class="margin-base-vertical text-center" id="notice"><%= notice %></h2>
</div>
<p class='text-center'>
  <strong >Ideology:</strong>
  <%= @judge.ideology %>
</p>

<p class='text-center'>
  <strong>Sentiment:</strong>
  <%= @judge.sentiment %>
</p>

    <p class='text-center'>
<%= link_to 'ShowAll', judges_path, class: 'btn btn-default btn-xs' %>
    </p>
</div>
  </div>