<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
<h1 class="margin-base-vertical text-center">Editing Ideology</h1>
</div>
<%= render 'form' %>

    <p class='text-center'>
<%= link_to 'ShowAll', ideologies_path, class: 'btn btn-default btn-xs' %>
</p>
  </div>
  </div>