<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">

      <h1 class="margin-base-vertical text-center">Welcome to iRate</h1>

      <p class="well well-sm">
        Explore your ideas, have fun, make a contribution and learn about yourself!
      </p>

      <p class="well well-sm">
        iRate makes an attempt to address the problem of accurately labeling textual data with the corresponding ideas
        and representing how strongly such ideas are conveyed. It provides a forum for sentiment analysis of intellectual content,
        which in turn can be used to build models of philosophical and political stances by geographic location.
        Such models can be used to derive predictions about sentiment in the society.
      </p>

      <p class="well well-sm">
        iRate has two game modes: one where you classify citations and one where you get to express your opinion!
      </p>

      <p class="well well-sm">
        Sing up: you'll get access to second game mode and your profile: score, badges and your past sentiment ratings!
      </p>

      <form class="margin-base-vertical">
        <p class="text-center">
         <a href="/play"> <button type="button" class="btn btn-primary btn-lg " id="no_login_trial">Try me now!</button> </a>
        </p>
      </form>

      <div class="margin-base-vertical text-center">
        <small class="text-muted"><a href="http://getbootstrap.com/">Powered by bootstrap</a></small>
      </div>

    </div><!-- //main content -->
  </div><!-- //row -->
</div> <!-- //container -->
