<!--........................................  FAQ     .......................................-->
<!--.........................................................................................-->

<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <h1 class="margin-base-vertical text-center">Frequently Asked Questions</h1>
      <div class="well well-sm "></div>

      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                What's the difference between game modes?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse ">
            <div class="panel-body">
              The game has 2 modes: one for labeling the quotes and one for sentiment scoring the quotes.
              </br>
              <b>Mode 1: </b>
              </br>
              The semantics of the game include presenting the player with a random quote and asking him / her to label
              the quote with the ideology it represents (eg. ‘we don’t need government’ represents anarchy).
              </br>
              <b>Mode 2: </b>
              </br>
              In this mode (available to registered users only) the player is asked to assess how strongly a generated quote
              conveys the associated ideology on the ‘positive’ - ‘neutral’ - ‘negative’ scale
              (eg.‘we don’t need government’ = ‘positive’ for ‘anarchy’). In the long way this build user's profile.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                What happend to my data?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              All data gathered during mode 1 of the game is stored in a database and used for research purposes.
              Your personal opinions are only available to you: you need to login in order to view your profile.
              We will store your ideological sentiment until you tell us otherwise!
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                What is the advantage of signing in?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              By singing in you get to access your user profile, view his own progress and activity, view the changes in your views over time.
              You'll get to save the points you achieve while playing the game. Registered users can also view badges they own:
              badges are reworded for consistent playing, they show your level in the game. You can also compete with your friends:
              check out the <a href="/leaderboard">leaderboard</a>!
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                How does the scoring system work?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              In order to reward players a badge based scoring system is provided (players get points for assessing quotes.
              Based on the number of points players will receive badges that can be viewed in their profiles), each rating gives you 10 points.
              You can check your progress by looking at <a href="/user_profile">my profile</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeight">
                Where does the data coming from?
              </a>
            </h4>
          </div>
          <div id="collapseHeight" class="panel-collapse collapse">
            <div class="panel-body">
              The main source of quotes is <a href="https://en.wikiquote.org/wiki/Main_Page">wikiquote</a>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>