<!-- Modal -->
<div class="modal fade" id="signup_page" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="panel panel-default">
        <div class="panel-heading">
        <h3 class="panel-title text-center">Sign up for iRate <small>It's free!</small></h3>
          </div>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="user_name" id="user_name" class="form-control input-sm" placeholder="UserName">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="full_name" id="full_name" class="form-control input-sm" placeholder="Full Name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="sex" id="sex" class="form-control input-sm" placeholder="Sex">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="text" name="location" id="location" class="form-control input-sm" placeholder="Location">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="text" name="dob" id="dob" class="form-control input-sm" placeholder="Date of birth">
          </div>

          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="form-group">
                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
              </div>
            </div>
          </div>

          <input type="submit" value="Register" class="btn btn-info btn-block"></br>
          <button type="submit" class="btn btn-info btn-block" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>